<div class="card">
  <div class="card-body">
    <h1 style="text-align: center;">{{relatos.titulo}}</h1>
    <hr>
    <img src="/uploads/{{relatos.image}}" alt="..."  height="150" width="150">
    <p>Descrição: {{relatos.descricao}}</p>
    <p>Setor: {{relatos.setor}}</p>
    <hr>
    <small>Data da publicação: {{relatos.data}}</small>
  </div>
</div>